.content-home-text1 {
margin-right: 2rem;
margin-left: 2rem;
}

.ch211 {
    padding: 0px 30px;
    width: 62px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .ch211:hover {
    background-color: #6d6d6d2e;
  }
  
