.content-home-text1 {
margin-right: 2rem;
margin-left: 2rem;
}

.ch211 {
    padding: 0px 30px;
    width: 62px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .ch211:hover {
    background-color: #6d6d6d2e;
  }
  

  .exc .wb-c-options {
    align-items: center;
  }


  .exc .wb-container:hover {
    background-color: #0f1011;
    cursor: pointer;
  }


  svg#shareicon:hover {
    color :rgb(29, 155, 240);;
    cursor: pointer;
}