.mcontent #c-h {
    width: 380px;
}

#cf1 {
    width: 380px;
}
.content-home-text1 #hci {
    transform: translate(14px,-4px);
}

#cht1 {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.s-ma{
    width: 95px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.s-ma-s {
    flex: 1;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-ma-ma {
    flex :1;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cht2 {
    width: 87%;
    height : 20em;
}

.cht2-1 {
    width: 73%;
    height: 90px;
}

.cht2-1 span {
    color: white;
    font-size:30px;
    font-weight: bolder;
}

.cht2-3 button {
    background-color: rgb(29, 155, 240);
    color: white;
    width: 65%;
    height: 55px;
    border-radius: 32px;
}

.cht2-3 {
    margin-top: 10px;
    transform: translateX(-10px);
}

.reel .ant-modal-content{
    background-color: black;
    color: red;
    padding : 0px;
    
    /* padding-left: 15px;
    padding-right: 15px; */
    /* padding-top :10px;
    padding-bottom: 0px ; */
}


.reel .ant-modal-content .antcontainer {
    width: 130%;
    height: 16.5%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: column;
}

.antheading {
    width :100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.antsearch {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 0.3px solid rgb(52, 52, 52);
    
}


.antsl {
    flex: 0.1;
    display  :flex;
    justify-content: center;
    align-items: center;

}

.antsl #sicon {
    width : 55%;
    height: 55%;
    
}

.antst {
    flex : 1;
    background-color: purple;
    display: flex;
    flex-direction: column;
}

.antst input {
    flex :1;
    background-color: black;
    outline: none;
    border: none;
    color :white;
    font-size: 16px;
}

.antst input::placeholder {
    font-size: 15px;
}

.antsat {
    width : 35%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.antbtn {
    width : 14%;
    border-radius: 20px;
    height: 67%;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.antbtn button {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 14px;
    font-weight:bold;
    padding: 0px;
    margin: 0px;
    background-color: grey;
}
.ants{
    color: white;
    flex: 0.25;
    margin-top: 5px;
    cursor: pointer;
}

.antt span {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

