.roi .body {
overflow-y: hidden;
z-index: 0;
position: relative;
transform: translateY(-745px);
background-color: rgb(0, 0, 0);
height: 100vh;
width: 100%;
display: flex;
overflow-y: scroll;

}



.roi .tweak {
 position: fixed;
}

.roi .cc {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}


.tbbg {
  background-color: rgba(91, 112, 131, 0.4);
    position: sticky;
    z-index: 1;
    top: 0;
    height: 745px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tbcontainer {
    background-color: black;
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
  }

  .tbc-header {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 0px 10px;
  }
  
  .tbc-content {
    flex: 3;
    background-color: blue;
  }

  .tbc-footer{
    flex: 0.6;
    background-color: green;
  }

  .tbc-h-img
  {

  }

  .tbc-h-ut span {
    color:  rgb(29, 155, 240);
    font-weight: bold;
  }